.line-status-indicator {
    cursor: pointer;
    display: flex;

    .line-status-indicator__name,
    .line-status-indicator__status {
        border-top-style: solid;
        border-top-width: 1px;
        box-sizing: border-box;
        flex: 1;
        padding: 6px 10px;
    }

    .line-status-indicator__name {
        border-top-color: white;
    }

    .line-status-indicator__status {
        border-top-color: #EAEAEA;
    }
}

.line-status-info {
    box-sizing: border-box;
    padding: 10px;
}

.line-status-indicator--bakerloo .line-status-indicator__name {
    background-color: #894e24;
    color: rgba(255, 255, 255, .9);
}

.line-status-indicator--central .line-status-indicator__name {
    background-color: #dc241f;
    color: rgba(255, 255, 255, .9);
}

.line-status-indicator--circle .line-status-indicator__name {
    background-color: #ffce00;
    color: rgba(0, 0, 0, .9);
}

.line-status-indicator--district .line-status-indicator__name {
    background-color: #007229;
    color: rgba(255, 255, 255, .9);
}

.line-status-indicator--hammersmith-city .line-status-indicator__name {
    background-color: #d799af;
    color: rgba(0, 0, 0, .9);
}

.line-status-indicator--jubilee .line-status-indicator__name {
    background-color: #000;
    color: rgba(255, 255, 255, .9);
}

.line-status-indicator--metropolitan .line-status-indicator__name {
    background-color: #6a7278;
    color: rgba(255, 255, 255, .9);
}

.line-status-indicator--northern .line-status-indicator__name {
    background-color: #000;
    color: rgba(255, 255, 255, .9);
}

.line-status-indicator--piccadilly .line-status-indicator__name {
    background-color: #0019a8;
    color: rgba(255, 255, 255, .9);
}

.line-status-indicator--victoria .line-status-indicator__name {
    background-color: #00a0e2;
    color: rgba(0, 0, 0, .9);
}

.line-status-indicator--waterloo-city .line-status-indicator__name {
    background-color: #76d0bd;
    color: rgba(0, 0, 0, .9);
}

.line-status-indicator--overground .line-status-indicator__name {
    background-color: #e86a10;
    color: rgba(255, 255, 255, .9);
}

.line-status-indicator--overground .line-status-indicator__name {
    background-color: #e86a10;
    color: rgba(255, 255, 255, .9);
}