<div
  (click)="open = !open"
  class="line-status-indicator"
  [ngClass]="'line-status-indicator--' + lineStatus.id">
  <div
    class="line-status-indicator__name"
    [style.backgroundColor]="lineStatus.backgroundColor"
    [style.color]="lineStatus.foregroundColor">{{ lineStatus.name }}</div>
  <div class="line-status-indicator__status">{{ lineStatus.lineStatuses[0].statusSeverityDescription }}</div>
</div>
<div
  *ngIf="open"
  class="line-status-info">
  <ng-container *ngIf="lineStatus.lineStatuses[0].reason">
    {{ lineStatus.lineStatuses[0].reason }}
  </ng-container>
  <ng-container *ngIf="!lineStatus.lineStatuses[0].reason">
    There is a good service on this line
  </ng-container>
</div>