<app-page-container>
    <app-page-title>Status Updates</app-page-title>
    <app-line-status-indicator *ngFor="let lineStatus of lineStatuses" [lineStatus]="lineStatus"></app-line-status-indicator>
</app-page-container>