<header>
  <ul>
    <li><a [routerLink]="'dashboard'" [routerLinkActive]="'active'">Home</a></li>
    <li><a [routerLink]="'status-updates'" [routerLinkActive]="'active'">Status Updates</a></li>
    <li><a [routerLink]="'journey-planner'" [routerLinkActive]="'active'">Journey Planner</a></li>
  </ul>
</header>