header {
    background-color: #34495e;

    ul {
        overflow: auto;
        margin: 0;
        padding: 0;

        li {
            display: inline-block;
            margin: 0;
            padding: 0;

            a {
                color: rgba(255, 255, 255, .7);
                display: inline-block;
                box-sizing: border-box;
                padding: 20px 10px;
                text-decoration: none;
                font-weight: bold;

                &:hover, &:focus, &.active {
                    color: rgba(255, 255, 255, .9);
                }

                &.active {
                    text-decoration: underline;
                }
            }

            &:first-child a {
                padding-left: 20px;
            }
            
            &:last-child a {
                padding-right: 20px;
            }
        }
    }
}