<app-page-container>
    <app-page-title>Journey Result</app-page-title>
    <ng-container *ngIf="result">
        <app-journey *ngFor="let journey of result.journeys" [journey]="journey"></app-journey>
    </ng-container>
</app-page-container>