:host {
    display: block;
    background-color: #FFFFFF;
    color: rgba(0, 0, 0, .9);
    box-sizing: border-box;
}

h1 {
    font-size: 23px;
    font-weight: medium;
    margin: 0;
}

.journey-leg__duration {
    // display: flex;
    // width: 100%;

    // h1, span {
    //     flex: 1;
    // }

    font-size: 16px;
    box-sizing: border-box;
    display: block;
    padding: 5px 0;
    padding-left: 65px;
    
    span {
        text-align: right;

        strong {
            font-size: 23px;
            margin-right: 3px;
        }
    }
}

.journey-leg__in-between-stop {
    font-size: 16px;
    box-sizing: border-box;
    display: block;
    padding: 5px 0;
    padding-left: 65px;
}

.journey-leg__instruction {
    box-sizing: border-box;
    font-size: 19px;
    padding: 2px 0;
    padding-left: 10px;
}

.journey-leg__main-stop {
    font-size: 18px;
    padding: 3px 0;
    padding-left: 55px;
}

.lines {
    position: absolute;
    width: 34px;
    height: 100%;
    top: 0;
    left: 10px;
    text-align: center;
    overflow: hidden;
    z-index: 3;
}

.lines {
    height: 100%;
    width: 32px;
}

.lines span {
    background-color: black;
    display: inline-block;
    height: 100%;
    width: 6px;
}

.lines span.bakerloo, td.bakerloo {
    background-color: #894e24;
}

.lines span.central, td.central {
    background-color: #dc241f;
}

.lines span.circle, td.circle  {
    background-color: #ffce00;
}

.lines span.district, td.district {
    background-color: #007229;
}

.lines span.dlr, td.dlr  {
    background-color: lightblue;
    border-left: 2px solid lightskyblue;
    border-right: 2px solid lightskyblue;
}

.lines span.hammersmith-city, td.hammersmith-city {
    background-color: #d799af;
}

.lines span.jubilee, td.jubilee {
    background-color: #6a7278;
}

.lines span.metropolitan, td.metropolitan  {
    background-color: #751056;
}

.lines span.northern, td.northern {
    background: #000;
}

.lines span.piccadilly, td.piccadilly {
    background-color: #0019a8;
}

.lines span.victoria, td.victoria {
    background-color: #00a0e2;
}

.lines span.waterloo-city, td.waterloo-city {
    background-color: #76d0bd;
}

.journey-leg__more-stops-button {
    display: block;
    box-sizing: border-box;
    text-decoration: underline;
    background: none;
    border: none;
    color: #004462;
    font-size: 20px;
    margin-left: 65px;
}