<h1>{{ leg.departurePoint.commonName }} at {{ leg.departureTime | date : 'HH:mm' }}</h1>
<div class="journey-leg__instruction">{{leg.instruction.summary}}</div>
<div style="position: relative; margin-top: 5px;">
  <div class="lines jp">
    <span *ngFor="let routeOption of leg.routeOptions"
      [ngClass]="routeOption.lineIdentifier ? routeOption.lineIdentifier.id : null"></span>
  </div>
  <div class="journey-leg__main-stop">{{ leg.departureTime | date : 'HH:mm' }} &nbsp; {{ leg.departurePoint.commonName }}</div>
  <span class="journey-leg__duration"><strong>{{ leg.duration }}</strong> min</span>
  <button class="journey-leg__more-stops-button" *ngIf="!showAllStops" (click)="showAllStops = true;">
    show {{ leg.path.stopPoints.length }} stops
  </button>
  <ng-container *ngIf="showAllStops">
      <div class="journey-leg__in-between-stop" *ngFor="let stop of leg.path.stopPoints">
          {{stop.name}}
      </div>
  </ng-container>
  <div class="journey-leg__main-stop">{{ leg.arrivalTime | date : 'HH:mm' }} &nbsp; {{ leg.arrivalPoint.commonName }}</div>
</div>