<input type="text" [(ngModel)]="query" (ngModelChange)="didType($event)" />
<div *ngIf="options && options.matches">
  <div (click)="select(match.icsId, match.name)" *ngFor="let match of options.matches">
    {{ match.name }}
  </div>
</div>
