<app-page-container>
    <app-page-title>Journey Planner</app-page-title>
    <form [formGroup]="form" (ngSubmit)="save()">
      <div>
        <label>From
          <app-auto-complete formControlName="from" (search)="searchFrom($event)" [options]="fromOptions"></app-auto-complete>
        </label>
      </div>
      <div>
        <label>To
            <app-auto-complete formControlName="to" (search)="searchTo($event)" [options]="toOptions"></app-auto-complete>
        </label>
      </div>
      <div>
        <label>
          <input formControlName="timeIs" type="radio" value="departing"> Leaving
        </label>
        <label>
          <input formControlName="timeIs" type="radio" value="arriving"> Arriving
        </label>
      </div>
      <div>
      <label>
        <select formControlName="date">
          <option>20190412</option>
          <option>20190413</option>
          <option>20190414</option>
          <option>20190415</option>
          <option>20190416</option>
        </select>
      </label>
      <label>
          <select formControlName="time">
            <option>0000</option>
            <option>0100</option>
            <option>0200</option>
            <option>0300</option>
            <option>0400</option>
            <option>0500</option>
            <option>0600</option>
            <option>0700</option>
            <option>0800</option>
            <option>0900</option>
            <option>1000</option>
            <option>1100</option>
            <option>1200</option>
            <option>1300</option>
            <option>1400</option>
            <option>1500</option>
            <option>1600</option>
            <option>1700</option>
            <option>1800</option>
            <option>1900</option>
            <option>2000</option>
            <option>2100</option>
            <option>2200</option>
            <option>2300</option>
          </select>
        </label>
      </div>
      <div>
        <button>Plan my journey</button>
      </div>
    </form>


    <app-journey-result-page *ngIf="result" [result]="result"></app-journey-result-page>

</app-page-container>