:host {
    font-size: 18px;
    input, select {
        box-sizing: border-box;
        font-size: 18px;
        padding: 5px;
    }

    input[type="text"] {
        width: 350px;
    }

    label {
        display: inline-block;
        padding: 5px;
        min-width: 150px;
    }

    select {
        width: 150px;
    }

    button {
        background-color: #2c3e50;
        box-sizing: border-box;
        border-radius: 6px;
        color: #ecf0f1;
        display: inline-block;
        font-weight: bold;
        padding: 8px 20px;
        font-size: 18px;
        margin-top: 10px;
    }
}