<div class="journey__duration">
  <h1>{{ journey.startDateTime | date : 'HH:mm' }} - {{ journey.arrivalDateTime | date : 'HH:mm' }}</h1>
  <span><strong>{{ journey.duration }}</strong>min</span>
</div>
<app-journey-leg *ngFor="let leg of journey.legs" [leg]="leg"></app-journey-leg>