:host {
    display: block;
    background-color: #FFFFFF;
    box-sizing: border-box;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
}

.journey__duration {
    display: flex;
    width: 100%;

    h1, span {
        flex: 1;
    }

    h1 {
        margin: 0;
        font-size: 28px;
    }
    
    span {
        text-align: right;

        strong {
            font-size: 23px;
            margin-right: 3px;
        }
    }
}